$start: darken(#7295E0, 20%);
$mid: lighten ($start, 10%);
$end: lighten(#7295E0, 0%);


.contact--container{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.contact-info{
  position: relative;
  flex: 1 0 auto;
  width: 100%;
  bottom: 0;
  color: white;
  background-image: linear-gradient(-90deg, #7295E0 0%, #2B5BC1 100%);
  svg{
    position: absolute;
    top: -200px;
    height:200px;
    width: 100%;
  }
}
.contact-form{
  margin: $lrg-space auto;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  display: block;
  width: 80%;
  text-align: center;
  z-index: 2;
  background: white;
  @media(min-width: 656px){
    max-width: 40%;
  }
  input{
    border-width: 0px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    box-shadow: none;
    border-bottom: 1px solid lighten(#333, 70%);
    background-color: transparent;
    transition: border .2s ease;
    outline: 0;
    margin: 0 $sml-space;
    padding: 10px;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    &:focus, &:hover{
      border-bottom: 1px solid #333;
    }
  }
}
.form-header{
  grid-area: lead;
}
.form-name{
  grid-area: name;
}
.form-email{
  grid-area: email;
}
.form-follow{
  grid-area: follow;
}
.form-submit{
  margin: $med-space 0;
  display: block;
  background: #7295e0;
  padding: 20px;
  color: white;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    z-index: 0;
    right: 100%;
    bottom: 0;
    background: lighten(#41557F, 10%);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
}
.form-submit:hover:before{
  left: 0;
  right: 0;
}
.contact-info__sell{
  text-align: left;
  padding: 0 100px;
  color: white;
}
.contact-info__header{
  font-weight: 500;

}
.contact-form-grid{
  padding:  $sml-space $lrg-space;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* floatl */
.floatl {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.floatl--focused .floatl__label {
  color: #2a8dea;
}

.floatl--active .floatl__label {
  opacity: 1;
  visibility: visible;
  top: 1px;
}

.floatl--active .floatl__input {
}

.floatl--active.floatl--multiline .floatl__label {
  background-color: white;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 80%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 80%, rgba(255, 255, 255, 0) 100%);
}

.floatl__label {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: inline-block;
  top: 9px;
  left: 6px;
  padding: 5px 3px 3px 3px;
  font-size: 10px;
  line-height: 1em;
  font-weight: bold;
  color: #666666;
}

.floatl__input {
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  margin-top: 0;
  margin-left: 0;
}

.floatl__input::-moz-selection {
  color: white;
  background-color: #2a8dea;
}

.floatl__input::selection {
  color: white;
  background-color: #2a8dea;
}

.floatl__input:focus {
  border-color: #2a8dea;
}

input.floatl__input {
  height: 42px;
}
