.logo{
  color: #7295E0;
  margin: 0;
  font-size: 1em;
  font-weight: 700;
  @media(min-width: 500px){
    font-size: 1.777em;
  }
  @media(min-width:1175px){
    // &--fixed{
    //   position: fixed;
    //   bottom: 70%;
    //   left: 30px;
    // }
  }
  &--fixed{
  }
}
