.container--messanger{
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 0 auto;
  margin-top: $lrg-space;
}

.messages{
  flex: .6 0 auto;
}

.recived-message{
  max-width: 100%;
  background: #edede8;
  padding: 1rem;
  margin-bottom: 1.3em;
  border-radius: 1rem 1rem 1rem 0rem;
  position: relative;
  float: left;
  clear: both;
  &:after{
    content: '';
    width: 25px;
    height: 10px;
    border-radius: 1rem;
    background-color: #edede8;
    position: absolute;
    bottom: 0px;
    left: -10px
  }
  @media(min-width: 656px){
    max-width: 50%;
  }
  &--waiting{
    display: inline-block;
    text-align: center;
  }
  &--animated{
    animation-duration: .8s;
    animation: fadeInLeft .8s ease;
  }
}

.sent-message{
  max-width: 100%;
  background: #7295E0;
  padding: 1rem;
  margin-bottom: 1.3em;
  border-radius: 1rem 1rem 0 1rem;
  position: relative;
  float: right;
  clear: both;
  animation-duration: .3s;
  color: #fff;
  &:after{
    content: '';
    width: 25px;
    height: 10px;
    border-radius: 1rem;
    background: #7295E0;
    position: absolute;
    bottom: 0px;
    right: -10px
  }
  @media(min-width: 656px){
    max-width: 50%;
  }
  &__text{
    // text-align: left;
  }
  &__waiting{
    display: inline-block;
    text-align: center;
  }
}

.dots--recived{
  display: inline-block;
  width:  10px;
  height: 10px;
  margin: 0 5px;
  background-color: darken(#edede8, 20%);
  border-radius: 100%;
  animation: loading .8s infinite;
}
.dots--recived:nth-child(2){
  animation: loading .8s infinite;
  animation-delay: .2s
}
.dots--recived:nth-child(3){
  animation: loading .8s infinite;
  animation-delay: .4s
}

.dots--sent{
  display: inline-block;
  width:  10px;
  height: 10px;
  margin: 0 5px;
  background-color: darken(#7295E0, 20%);
  border-radius: 100%;
  animation: loading .8s infinite;
}
.dots--sent:nth-child(2){
  animation: loading .8s infinite;
  animation-delay: .2s
}
.dots--sent:nth-child(3){
  animation: loading .8s infinite;
  animation-delay: .4s
}

#message{
  box-shadow: 1.5px 0px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  display: flex;
  position: fixed;
  flex-direction: row;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 15px;
  background: white;
  // @media(min-width: 656px){
  // }
}

.messanger{
  padding: 5px;
  border: 1px solid lighten(#333, 70%);
  transition: border .2s ease;
  padding: 10px;
  outline: none;
  flex: 3;
  &:focus, &:hover{
    border: 1px solid #333;
  }
  @media(min-width: 656px){
  }
}
.messanger-submit{
  background-color: #fff;
  font-family: inherit;
  color: lighten(#333, 20%);
  border: 1px solid lighten(#333, 70%);
  padding: 10px;
  transition: all .2s ease;
  border-radius: 0;
  flex: 1;
  outline: 0;
  margin-left: 10px;
  &:hover{
    border: 1px solid #333;
    color: #333;
  }
}
.message-link{
  text-decoration: none;
  color: darken(rgb(114, 149, 224), 30%);
  transition: color .2s ease;
  font-weight: 500;
  &:hover{
    color: darken(rgb(114, 149, 224), 10%)
  }
}
.message__img{
  display: none;
  position: absolute;
  width: 50px;
  border-radius: 50px;
  border: 3px solid #7295E0;
  bottom: -15px;;
  left: -75px;
  @media(min-width: 500px){
    display: inline-block;
  }
  &--sent{
    width: 0;
    height: 0;
    padding: 25px;
    background: #edede8;
    left: auto;
    right: -75px;
    @media(min-width: 500px){
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.icon-user{
  color: darken(#edede8, 20%);
  font-size: 1.777em;
}
