$font-stack: "brandon-grotesque",sans-serif;
$base-space: 1.414em;
$sml-space: $base-space * .5;
$med-space: $base-space * 1.5;
$lrg-space: $base-space * 2;


/* TYPE */
html {
  font-size: 1em;
}

body {
  display: block;
  background-color: white;
  font-family: $font-stack !important;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
  padding-bottom: 90px;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
  font-weight: 700;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.777em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.75em;}

.med{
  font-weight: 500;
}

.form-header{
  font-weight: 700;
  margin-top: $sml-space;
}
